{"nodes":[{% for node in nodes %}{"bmcip":"{{ext_ip_prov}}","mac":"{{ node['mac'] }}","bmmac":"{{ node['bmmac'] }}","system":"{{ node['id'] }}","driver": "redfish","name":"{{ node['name'] }}"}{% if not loop.last %},{% endif %}{% endfor %}],"LOCAL_REGISTRY_DNS_NAME":"virthost.{{cluster_name}}.{{base_domain}}", "PRO_IF":"eth0.{{vlanid_pr}}", "INT_IF":"eth0.{{vlanid_bm}}", "CLUSTER_PRO_IF":"eno1", "ADDN_DNS":"", "PROVISIONING_HOST_EXTERNAL_IP":"{{prov_host_ip}}", "EXTERNAL_SUBNET_V4":"{{external_subnet}}", "EXTERNAL_BOOTSTRAP_MAC":"52:54:00:B0:07:4F", "PROV_BM_MAC":"{{ prov_bm_mac }}"}
