# Set the domain name
domain=cluster-01.okd.on.massopen.cloud

server=8.8.8.8
interface=cluster-01bm
listen-address=192.168.111.1
except-interface=lo
bind-dynamic

# Assign DNS entries to hosts
#{% for node in nodes -%}
#dhcp-host={{node["bmmac"]}},{{node["name"]}}.ostest.test.metalkube.org,{{node["ip"]}}
#{% endfor %}

# Add additional DNS entries
address=/api.cluster-01.okd.on.massopen.cloud/192.168.111.5
address=/virthost.cluster-01.okd.on.massopen.cloud/192.168.111.1

# Add a wildcard DNS entry
address=/.apps.cluster-01.okd.on.massopen.cloud/192.168.111.4
