# Set the domain name
domain=ci-01.okd.on.massopen.cloud

server=8.8.8.8
interface=ci-01bm
listen-address=192.168.112.1
except-interface=lo
bind-dynamic

# Assign DNS entries to hosts
#{% for node in nodes -%}
#dhcp-host={{node["bmmac"]}},{{node["name"]}}.ostest.test.metalkube.org,{{node["ip"]}}
#{% endfor %}

# Add additional DNS entries
address=/api.ci-01.okd.on.massopen.cloud/192.168.112.5
address=/virthost.ci-01.okd.on.massopen.cloud/192.168.112.1

# Add a wildcard DNS entry
address=/.apps.ci-01.okd.on.massopen.cloud/192.168.112.4
