# Set the domain name
domain={{cluster_name}}.{{base_domain}}

server=8.8.8.8
interface={{cluster_name}}bm
listen-address={{ext_ip_prov}}
except-interface=lo
bind-dynamic

# Add additional DNS entries
address=/api.ci-01.okd.on.massopen.cloud/{{ext_ip_api}}
address=/virthost.ci-01.okd.on.massopen.cloud/{{ext_ip_api}}

# Add a wildcard DNS entry
address=/.apps.ci-01.okd.on.massopen.cloud/{{ext_ip_ingress}}
